/TasksLocal/
/TasksRemote/
/projectDirectories.txt
/manifest.txt
/Dockerfile-db-temp
/storeFor_manifest.txt
/storeForLocal_manifest.txt
/storeForRemote_manifest.txt
/projectsToBuild.txt
/propertiesForLocalTasks/
/propertiesForRemoteTasks/
/propertiesForContainerTasks/
/release.ps1
/*.zip
/*.tar.gz
