/buildnumber.counter
/TasksLocal/
/TasksRemote/
/targetList
/projectDirectories.txt
/manifest.txt
/storeFor_manifest.txt
/storeForLocal_manifest.txt
/storeForRemote_manifest.txt
/projectsToBuild.txt
/propertiesForLocalTasks/
/propertiesForRemoteTasks/
/propertiesForContainerTasks/
/*.gz
/release.ps1
/example.yaml

/minimal-build-*
